nav {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}

.generalInfoNav,
.eduInfoNav,
.profInfoNav {
  color: aliceblue;
  background-color: rgb(49, 49, 49);
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.3rem;
}
.areaActive {
  background-color: darkred;
  border-color: #242424;
}
.areaActive:hover {
  background-color: rgb(186, 11, 11);
  border-color: #242424;
  color: #e7e7e7;
}
