.professionalExp {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  padding: 1rem;
}
.professionalExp > * {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.inputCont {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.jobResponsibility {
  flex-grow: 1;
}
.textArea {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
}
textarea {
  resize: none;
  padding: 1rem;
}
.professionalExp textarea {
  resize: none;
  padding: 0.5rem 1rem;
}
.professionalExp label {
  font-size: clamp(1rem, 5vw, 1.5rem);
  color: #242424;
}
.professionalExp input {
  padding: 1rem;
  width: 50%;
}
.professionalExp input::placeholder {
  opacity: 0.7;
  font-size: 1rem;
}
